
.pofw-product-options-wrapper .fieldset .field.pt-pizza-toppings-option {margin-bottom: 0;}
.pofw-product-options-wrapper .fieldset .field.pt-pizza-toppings-option .control .pofw-toppings-box {display:inline-block; width: 150px; padding: 0 15px 15px 0; vertical-align: top;}
.pofw-product-options-wrapper .fieldset .field.pt-pizza-toppings-option .control .pofw-toppings-box label {margin: 0;}
